/* Global Style */
body {
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.bg-gray {
    background-color: #f9f9f9;
}

.banner-img {
    background: no-repeat center;
    background-size: cover;
    min-height: 300px;
}

.user-avatar {

}

.sub-desc {

}

/* Navbar Style */
.navbar {
    padding: .3rem 1rem;

    &.bg-nav-blue {
        background: #3981E5;
    }

    .navbar-left {

    }

    .navbar-right {

        .fa-search {            
            color: #ffffff;
            font-size: 18px;
        }

        .round-search {
            background-color: transparent;
            border-radius: 14px;
            color: #ffffff;
            font-size: 14px;
            min-width: 238px;
            height: calc(1em + .75rem + 2px);

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #ffffff;
                opacity: 1; /* Firefox */
              }
              
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #ffffff;
              }
              
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: #ffffff;
              }
        }
    }
    
}

/* Sidebar Style */
.sidebar {
    min-width: 250px;

    .list-group-item {
        padding: .6rem 1.25rem;
    }
}

/* Main Content Style */
.main-content {

    .heading {
        font-size: 14px;
        padding: 1rem;
    }
}

/* --- Must-Have Apps Style --- */
.top-post {

    .banner-img {
        background-image: url("../img/landing-1.svg");
    }
}

/* --- Best Apps by LifeGoals Style --- */
.best-apps {
    h1 {
        color: #212121;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        padding: 16px;
        margin-bottom: 0;
    }

    .best-apps-inner {
        background: #ffffff;
        padding: 16px;
        
        .banner-img {
            height:  284px;
            background: url("../img/landing-2.svg");
            background-position: center;
            background-size: cover;
            
            .cover-back {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #000000;
                opacity: 0.4;
            }
            
            p {
                position: absolute;
                left: 20px;
                bottom: 20px;
                font-weight: 700;
                font-size: 22px;
                line-height: 25px;
                letter-spacing: 0.3px;
                color: #ffffff;
            }
        }

        section {
            padding: 16px;
            background: #F9F9F9;

            .post-num {
                color: #dddddd;
                font-weight: 500;
                font-size: 30px;
                line-height: 24px;
                letter-spacing: 0.5625px;
            }

            div {
                flex-grow: 1;
                padding: 0 16px;

                h2 {
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 24px;
                    letter-spacing: 0.4125px;
                }

                p {
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 0.3px;

                    &.sub-desc {
                        font-size: 14px;
                        line-height: 16px;
                        color: #737373;
                    }
                }
            }

            svg {
                color: #3981E5;
                font-size: 12px;
                margin: 6px 0;
            }
        }

        & > p {
            background: #F9F9F9;
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            padding: 16px;
        }
    }
}

/* ---Be Successful at My Job Style --- */  
.be-successful {
    background: #ffffff;
    padding: 0 8px;

    h1 {
        color: #3981E5;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        padding: 16px 8px;
        display: flex;
        align-items: center;
        margin-bottom: 0;

        span {
            padding-right: 8px;
        }

        svg {
            font-size: 12px;
        }
    }

    figure {
        width: 50%;
        padding: 16px 8px;
        margin-bottom: 0;

        .banner-img {
            border-radius: 6px;
            margin-bottom: 8px;
            min-height: 168px;
    
            &.writer {
                background-image: url("../img/blog-1.svg");
            }
    
            &.worker {
                background-image: url("../img/blog-2.svg");
            }
    
            &.management {
                background-image: url("../img/blog-3.svg");
            }
    
            &.conference {
                background-image: url("../img/blog-4.svg");
            }
        }

        figcaption {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: #212121;
            margin-bottom: 8px;
        }

        p {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.175px;
            color: #212121;
            margin-bottom: 8px;
        }
    }

    .btn {
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.857143px;
        text-transform: uppercase;
        color: #3981E5;
        width: calc(100% - 16px);
        padding: 13px;
        margin: 0 8px 24px;

    }
}

/* ---Ask App Recommend Style --- */  
.ask-app-recommend {
    background: #3981E5;
    padding: 24px;

    p {
        color: #FFFFFF;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 16px;
    }

    a {
        background: #212121;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
        border-radius: 24px;
        display: inline-block;
        padding: 15px 32px;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.857143px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

/* ---Search By Feature Style --- */  
.search-by-feature {
    header {
        background: #F9F9F9;
        padding: 16px;
        align-items: center;

        p {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #212121;
        }

        a {
            background: #F1F1F1;
            border-radius: 4px;
            padding: 3px 5px;
            color: #3981E5;
            text-transform: uppercase;
        }
    }

    div {
        background: #ffffff;
        padding: 16px 16px 0;

        .btn {
            background: #FFFFFF;
            border: 1px solid #3981E5;
            box-sizing: border-box;
            border-radius: 4px;
            margin-right: 16px;
            margin-bottom: 16px;
        }
    }
}

/* ---Popular Keywords Style --- */  
.popular-keywords {
    header {
        background: #F9F9F9;
        padding: 16px;
        align-items: center;

        p {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #212121;
        }

        a {
            background: #F1F1F1;
            border-radius: 4px;
            padding: 3px 5px;
            color: #3981E5;
            text-transform: uppercase;
        }
    }

    div {
        background: #ffffff;
        padding: 16px 16px 0;

        .btn {
            background: #F7F7F7;
            border-radius: 16px;
            margin-right: 16px;
            margin-bottom: 16px;
        }
    }
}

.last-desc {
    background: #F9F9F9;
    color: #212121;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 30px;
}

/* Footer Style */